@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.toastify {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #222;
  text-transform: capitalize !important;
}